<launch>
    <include file="$(find mower_main)/launch/try_mach.launch"/>
    <include file="$(find mower_main)/launch/display.launch"/>
    <include file="$(find mower_main)/launch/diff_drive.launch"/>
    <include file="$(find mower_main)/launch/robot_localization.launch"/>
    <!--node pkg="motor_ticks" type="random_ticks.py" name="random_ticks"/>
    <node pkg="motor_ticks" type="tick_node.py" name="tick_data"/>
    <node pkg="odometry" type="odom_node.py" name="odom"/-->
</launch>