<launch>
    <rosparam command="load" file="$(find mower_main)/cfg/ekf_localization.yaml"/>
    <rosparam command="load" file="$(find mower_main)/cfg/ekf_gps.yaml"/>
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_node_odom">
        <!--remap from="/odometry/filtered" to="/odometry/filtered/local" /--> 
    </node>
<!--
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_node_gps">
        <remap from="/odometry/filtered" to="/odometry/filtered/global" />        
    </node>

    <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" respawn="true">

        <param name="magnetic_declination_radians" value="0"/>
        <param name="frequency" value="10"/>
        <param name="yaw_offset" value="0"/>

        <remap from="/imu/data" to="/data" />
        <remap from="/gps/fix" to="gps/fix" />
        <remap from="/odometry/filtered" to="/odometry/filtered/global" />

    </node>
-->
</launch>
