  <launch>
  <machine 
        name = "jetson" 
        address = "192.168.0.107" 
        user = "ardumower"
        env-loader = "~/ardumower/devel_isolated/jetson.sh">
    </machine>
    <param name="device" type="string" value="/dev/i2c-1"/>
    <param name="address" type="int" value="40"/>
    <param name="frame_id" type="string" value="imu"/>
    <node pkg="imu_bno055" type="bno055_i2c_node" name="imu_node" machine="jetson" output="screen" respawn="true"/>
    <node pkg="rosserial_python" type="serial_node.py" name="serial" machine="jetson" output="screen"/>
    <node pkg="hokuyo_node" type="hokuyo_node" name="hokuyo" machine="jetson" output="screen"/>
</launch>