<launch>
    <!--include file="$(find mower_main)/launch/display.launch"/-->

    <!--include file="$(find mower_main)/launch/try_mach.launch"/-->
    

    <!--node pkg="differential_drive" type="diff_tf.py" name="diff_tf"/-->
<!--
    <node pkg="differential_drive" type="pid_velocity.py" name="lpid_velocity">
        <remap from="wheel" to="lwheel"/>
        <remap from="motor_cmd" to="lmotor_cmd"/>
        <remap from="wheel_vtarget" to="lwheel_vtarget"/>
        <remap from="wheel_vel" to="lwheel_vel"/>
        <rosparam param="Kp">200</rosparam>
        <rosparam param="Ki">200</rosparam>
        <rosparam param="Kd">0</rosparam>
        <rosparam param="out_min">-255</rosparam>
        <rosparam param="out_max">255</rosparam>
        <rosparam param="rate">30</rosparam>
        <rosparam param="timeout_ticks">4</rosparam>
        <rosparam param="rolling_pts">5</rosparam>
    </node>

    <node pkg="differential_drive" type="pid_velocity.py" name="rpid_velocity">
         <remap from="wheel" to="rwheel"/>
         <remap from="motor_cmd" to="rmotor_cmd"/>
         <remap from="wheel_vtarget" to="rwheel_vtarget"/>
         <remap from="wheel_vel" to="rwheel_vel"/>
         <rosparam param="Kp">200</rosparam>
         <rosparam param="Ki">200</rosparam>
         <rosparam param="Kd">0</rosparam>
         <rosparam param="out_min">-255</rosparam>
         <rosparam param="out_max">255</rosparam>
         <rosparam param="rate">30</rosparam>
         <rosparam param="timeout_ticks">4</rosparam>
         <rosparam param="rolling_pts">5</rosparam>
     </node>
-->
     <!--node pkg="differential_drive" type="virtual_joystick.py" name="virtual_joystick" output="screen"/-->

     <node pkg="odometry" type="odom_node.py" name="odom" output="screen"/>

     <node pkg="differential_drive" type="twist_to_rpm.py" name="twist_to_motors" output="screen"/>

     <!--node pkg="odometry" type="gps_file.py" name="gps_change" output="screen"/-->
</launch>
